body {background-color:#DABD9D}
    h1 {background-color:#481F01}
    h1 {font-size:40px}
    h1 {font-family:'Times New Roman', Times, serif}
h1 {color:rgb(255, 250, 250)}
h3 {color:#652A0E}
h3 {font-size:20px ;}
h2 {font-size: 28px;}
h2 {color:#481F01}
li {font-size: 18px;}
p {font-size: 18px;}
table {border-color:#2E1503}
table {border-width: 10px;}